MORFOCAMPO_DB=/var/lib/morfocampo/campo.db
MORFOCAMPO_BIN=/opt/morfocampo/build/morfocampo
MORFOCAMPO_AUDIO_DIR=/var/lib/morfocampo/audio_files
MORFOCAMPO_HOST=0.0.0.0
MORFOCAMPO_PORT=8011
MORFOCAMPO_SSL_KEY=/var/lib/morfocampo/certs/key.pem
MORFOCAMPO_SSL_CERT=/var/lib/morfocampo/certs/cert.pem
MORFOCAMPO_WHISPER_MODEL=small
MORFOCAMPO_AUTH_TOKEN=
MORFOCAMPO_UPDATE_ENABLED=0
MORFOCAMPO_UPDATE_REPO=https://github.com/jpereiratrindade/morfocampo.git
MORFOCAMPO_UPDATE_REQUIRE_CI=1
MORFOCAMPO_UPDATE_RUN_TESTS=1
